.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-dib{display:inline;}
.f-vh{visibility:hidden;}
.f-vc{visibility:collapse;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.f-mgl{margin-left:10px;}
.f-mgtb{margin:10px 0;}
.f-mgt5{margin-top:5px;}
.f-mgt10{margin-top:10px;}
.f-mgt15{margin-top:15px;}
.f-mgt20{margin-top:20px;}
.f-mgb5{margin-bottom:5px;}
.f-mgb10{margin-bottom:10px;}
.f-mgb15{margin-bottom:15px;}
.f-mgb20{margin-bottom:20px;}
.f-pl5{padding-left:5px;}
.f-pt10{padding-top:10px;}
.s-fc0,a.s-fc0:hover{color:#333;}
.s-fc1,a.s-fc2:hover{color:#666;}
.s-fc3,a.s-fc3:hover{color:#999;}
.s-fc4,a.s-fc4:hover{color:#ee8100;}
.s-fc5,a.s-fc5:hover{color:#e32740;}
.s-fc6,a.s-fc6:hover{color:#5c7cd8;}
.s-bc{border:1px solid #dfe3e9;}
body{background-color:#574064;font-family:"Hiragino Sans GB","Microsoft YaHei","微软雅黑","arial","simsun","宋体";}
a,a:hover{cursor:pointer;}
